<template>
    <span class="vertical-list">
        <router-link
            class="vertical-list__type cursor"
            :to="{
                name: 'articlesList',
                params: {gender, type}
            }"
            tag="h1"
        >
            {{ type.toUpperCase() }}
        </router-link>
        
        <router-link
            class="vertical-list__category cursor"
            v-for="category in categories"
            :key="category"
            :to="{
                name: 'articlesList',
                params: {
                    gender,
                    type,
                    category
                }
            }"
            tag="div"
        >
            {{ category.toUpperCase() }}
        </router-link>
    </span>
</template>

<script>
export default {
    name: 'HorisontalMenuArticles',

    props: {
        type: {
            type: String,
            required: true
        },

        categories: {
            type: Array,
            required: true
        },

        gender: {
            type: [Function, String],
            required: true
        }
    }
}
</script>

<style scoped>
.vertical-list {
    float: left;
    min-width: 200px;
    padding: 10px 20px;
    color: #91A3B0;
    text-align: left;
}

.vertical-list__type {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 0;
    border-bottom: 1px solid #91A3B0;
    margin-bottom: 10px;
}

.vertical-list__category {
    font-size: 14px;
    margin: 5px 0;
}

.cursor {
    cursor: pointer;
}
</style>
