<template>
    <div class="menu" @mouseleave="hover = false">
        <span class="menu__items" @mouseover="mouseover('men')">
            MEN
        </span>

        <span class="menu__items" @mouseover="mouseover('women')">
            WOMEN
        </span>

        <div class="menu__droplist droplist" v-show="hover">
            <div class="droplist__content">
                <horisontal-menu-articles
                    v-for="(categories, type) in horisontalMenuData"
                    :categories="categories"
                    :type="type"
                    :gender="gender"
                    :key="type"
                />  
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import HorisontalMenuArticles from './HorisontalMenuArticles.vue'

export default {
    name: 'HorisontalMenu',

    components: {
        horisontalMenuArticles: HorisontalMenuArticles
    },

    data() {
        return {
            hover: false,
            gender: String
        }
    },

    computed: {
        ...mapState({
            horisontalMenuData: state => state.horisontalMenuData
        }),
    },

    methods: {
        mouseover(gender) {
            this.gender = gender
            this.hover = true
            this.$store.dispatch('loadHorisontalMenuData', gender)
        }
    }
}
</script>

<style scoped>
.menu {
    padding: 3px 0;
    background-color: #0073E6;
}

.menu__items {
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 0 15px;
}

.menu__droplist {
    position: absolute;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #91A3B0;
    box-shadow: 0 8px 10px -5px #91A3B0;
    z-index: 1;
}

.droplist__content {
    width: fit-content;
    margin: 0 auto;
}
</style>
