<template>
    <transition name="dropdown">
        <div class="content" v-show="hover">
            <h1 class="content__title">Available sizes:</h1>

            <span
                class="content__size"
                v-for="(key, size, index) in article.size"
                :key="index"
            >
                {{ size }}

                <span v-if="checkForNextSize(index)">,</span>
            </span>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'ArticleBoxTransition',

    props: {
        article: {
            type: Object,
            required: true
        },

        hover: {
            type: Boolean,
            required: true
        }
    },

    methods: {
        checkForNextSize(index) {
            return (Object.keys(this.article.size).length - 1 - index) > 0
        }
    }
}
</script>

<style scoped lang="scss">
.content {
    height: 71px;
    font-size: 15px;
    color: #91A3B0;
    border-top: 1px solid #91A3B0;
    padding-top: 15px;
}

.content__title {
    font-size: 15px;
    font-weight: lighter;
}

.dropdown-leave-active {
    animation: move-out .2s;

    .content__title, .content__size {
        display: none;
    }
}

@keyframes move-out {
    0% { height: 71px; }
    100% { height: 0; }
}
</style>
