<template>
    <div
        class="box-route"
        @mouseover="hover = true"
        @mouseleave="hover = false"
    >
        <article-box-description
            :article="article"
        />

        <article-box-transition
            :article="article"
            :hover="hover"
        />
    </div>
</template>

<script>
import ArticleBoxDescription from './ArticleBoxDescription.vue'
import ArticleBoxTransition from './ArticleBoxTransition.vue'

export default {
    name: 'ArticleBoxRoute',

    components: {
        articleBoxDescription: ArticleBoxDescription,
        articleBoxTransition: ArticleBoxTransition
    },

    props: {
        article: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            hover: false
        }
    },
}
</script>

<style scoped>
.box-route {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
}
</style>
