<template>
    <div class="box">
        <router-link
            class="box__shadow"
            :to="{
                name: 'articleDetails',
                params: {
                    id: article.id,
                    type: article.type,
                    category: article.category
                }
            }"
            tag="div"
        >
            <article-box-route
                :article="article"
            />
        </router-link>
    </div>
</template>

// <script>
import ArticleBoxRoute from './ArticleBoxRoute.vue'

export default {
    name: 'ArticleBox',

    components: {
        articleBoxRoute: ArticleBoxRoute
    },

    props: {
        article: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
.box {
    width: 200px;
    height: 330px;
    margin: 20px;
    float: left;
}

.box:nth-child(4n+1) {
    margin-left: 0;
}

.box:nth-child(4n+4) {
    margin-right: 0;
}

.box__shadow {
    box-shadow: 0 0 10px #91A3B0;
}
</style>
