<template>
    <div class="article">
        <img class="article__img" :src="image">

        <span class="article__name">{{ article.name }}</span>

        <span class="article__price">{{ article.price }}€</span>
    </div>
</template>

<script>
import { getImgUrl } from '@/js/helpers.js'

export default {
    name: 'ArticleBoxDescription',

    props: {
        article: {
            type: Object,
            requred: true
        }
    },

    data() {
        return {
            image: ''
        }
    },

    created() {
        let img = 'noImageAvailable'

        if(this.article.images) {
            img = this.article.images[Object.keys(this.article.images)[0]]
        }

        this.image = getImgUrl(this.article, img)
    }
}
</script>

<style scoped>
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__img {
    width: 160px;
}

.article__name {
    margin: 10px 0;
}

.article__price {
    margin-bottom: 10px;
}
</style>
