<template>
    <div v-if="displayArticle" class="article">
        <article-images
            :article="article"
        />

        <article-description
            :article="article"
        />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import ArticleImages from '../components/articleDetails/ArticleImages.vue'
import ArticleDescription from '../components/articleDetails/ArticleDetailsDescription.vue'

export default {
    name: 'ArticleDetails',
    
    components: {
        articleImages: ArticleImages,
        articleDescription: ArticleDescription
    },

    props: {
        type: {
            type: String,
            required: true
        },

        category: {
            type: String,
            required: true
        },
        
        id: {
            type: String,
            required: true
        }
    },

    data() {
        return {
            article: {},
            displayArticle: true
        }
    },

    computed: {
        ...mapState({
            articles: state => state.articles
        })
    },

    methods: {
        checkForArticleInStore() {
            let checkType = Object.keys(this.articles).includes(this.type)

            let checkCategory = Object.keys(this.articles[this.type]).includes(this.category)
            
            let checkArticle = Boolean

            if(checkCategory) {
                checkArticle = Object.keys(this.articles[this.type][this.category]).includes(this.id)
            }

            return checkType && checkCategory && checkArticle
        }
    },

    created() {
        if (this.checkForArticleInStore()) {
            this.article = this.articles[this.type][this.category][this.id]
        } else {
            this.displayArticle = false
            this.$router.go(-1)
        }
    }
}
</script>

<style lang="scss" scoped>
.article {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 30px auto 0;
}
</style>
