<template>
    <div>
        <div class="content">
            <side-menu
                class="content__side-menu"
                :gender="gender"
                :type="type"
                :category="category"
                :route="route"
            />
        
            <div class="content__multi-box">
                <article-box
                    v-for="article in articles"
                    :article="article"
                    :key="article.id"
                />        
            </div>
        </div>      
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { objForFiltering } from '@/js/helpers.js'
import ArticleBox from '../components/articleBox/ArticleBox.vue'
import SideMenu from '../components/sideMenu/SideMenu.vue'

export default {
    name: 'ArticleList',

    components: {
        articleBox: ArticleBox,
        sideMenu: SideMenu
    },

    props: {
        gender: {
            type: String,
            required: true
        },

        type: {
            type: String,
            required: true
        },

        category: {
            default: () => ''
        }
    },

    data() {
        return {
            route: ''
        }
    },
    
    computed: {
        ...mapState({
            articles: state => state.filteredItems.articles
        })
    },

    methods: {
        filterItems(type, category, brand, size) {
            this.$store.dispatch(
                'filterItems',
                objForFiltering(type, category ? category : '', brand, size)
            )
        }
    },

    created() {
        this.route = this.$route.fullPath
        
        this.filterItems(this.type, this.category, [], '')
    },

    beforeRouteUpdate(to, from, next) {
        this.route = to.path
        
        let gender = to.params.gender
        let type = to.params.type
        let category = to.params.category

        if (gender !== from.params.gender) {
            this.$store.dispatch('loadData', gender)
            .then(() => {
                next(this.filterItems(type, category, [], ''))
            })
        } else if (type === from.params.type) {
            next(this.filterItems(type, category))
        } else {
            next(this.filterItems(type, category, [], ''))
        }
    }
}
</script>

<style scoped>
.content {
    width: fit-content;
    max-width: 1240px;
    margin: 50px auto;
    display: inline-block;
}

.content__side-menu {
    float: left;
    margin-right: 10px;
    width: 250px;
}

.content__multi-box {
    display: inline-block;
    width: 920px;
}
</style>
