<template>
    <div class="home">
        <on-sale-items />
        <hr>
        {{ articles }}
    </div>
</template>

<script>
import { mapState } from 'vuex'
import OnSaleItems from '../components/OnSaleItems.vue'

export default {
    name: 'home',

    components: {
        onSaleItems: OnSaleItems
    },

    computed: {
        ...mapState({
            articles: state => state.articles
        })
    }
}
</script>
