<template>
    <div class="shopping-cart">
        <div class="shopping-cart__title-box title-box">
            <h1 class="title-box__title">SHOPPING CART</h1>
        </div>

        <div class="shopping-cart__content-box border-none content-box" v-if="orderSent">
            <div class="content-box__content">
                <shopping-cart-article
                    v-for="article in shoppingCart"
                    :article="article"
                    :key="article.key"
                />
            </div>

            <summary-card />
        </div>

        <div class="shopping-cart__content-box content-box" v-else>
            <div class="content-box__empty">Shopping cart is empty, please choose an artical!</div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import ShoppingCartArticle from '../components/shoppingCart/ShoppingCartArticle.vue'
import SummaryCard from '../components/shoppingCart/SummaryCard.vue'

export default {
    name: 'ShoppingCart',
    
    components: {
        shoppingCartArticle: ShoppingCartArticle,
        summaryCard: SummaryCard
    },
    
    computed: {
        ...mapState({
            shoppingCart: state => state.shoppingCart
        }),

        orderSent() {
            return this.shoppingCart.length > 0
        }
    }
}
</script>

<style scoped>
.shopping-cart {
    width: fit-content;
    margin: 0 auto;
}

.shopping-cart__title-box {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.title-box__title {
    font-size: 30px;
    font-weight: 700;
}

.shopping-cart__content-box {
    width: 850px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #91A3B0;
}

.content-box__empty {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.border-none {
    border: none;
}
</style>
