<template>
    <div class="details">
        <button @click="remove">
            <img class="button-img" src="@/assets/delete.jpg">
        </button>

        <div class="details__price price">
            <span class="price__title">Price</span>

            <span class="price__amount">{{ article.price }}€</span>
        </div>

        <div class="details__quantity quantity">
            <span class="small-title">Quantity:</span>
                
            <input class="quantity__input" type="Number" v-model="quantity">
            <button :disabled="ifDisabled" @click="update">
                <img class="button-img" src="@/assets/check.jpg">
            </button>
        </div>
    </div>
</template>

<script>
import { editShoppingCart } from '@/js/editShoppingCart'
import Order from '@/js/Order'

export default {
    name: 'ArticleDetails',

    props: {
        article: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            quantity: this.article.quantity
        }
    },

    computed: {
      ifDisabled() {
          return this.quantity <= 0
      }
    },

    methods: {
        remove() {
            const article = {
                key: this.article.key
            }

            if (confirm('Are you sure you want to remove the article?')) {
                this.$store.dispatch('removeArticle', article)
            }            
        },

        update() {
            let quantity = this.quantity - this.article.quantity

            let order = new Order(this.article, this.article.size, quantity)

            editShoppingCart(order)

            this.quantity =  this.article.quantity
        }
    }
}
</script>

<style scoped lang="scss">
.details {
    width: 200px;
    text-align: right;

    .details__price, .details__quantity {
        padding-top: 10px;
        padding-right: 20px;
    }
}

.details__price {
  font-weight: 700;
    margin-top: 10px;
}

.price__title {
  padding-right: 10px;
}

.details__quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.small-title {
    font-size: 14px;
    padding-right: 5px;
}

.quantity__input {
    width: 40px;
    text-align: center;
    border: 0;
}

.button-img {
    width: 20px;
}
</style>
