<template>
    <div class="description">
        <div class="description__name">{{ article.name }}</div>

        <div class="description__id id">
            <span class="small-title">Id:</span>

            <span class="id__string">{{ article.id }}</span>
        </div>

        <div class="description__size size">
            <span class="small-title">Size:</span>

            <span class="size__num">{{ article.size }}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ArticleDescription',

    props: {
        article: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped lang="scss">
.description {
    width: 180px;
    font-size: 15px;
    text-align: left;
    margin: auto 0;

    .description__name, .description__id, .description__size {
        margin-bottom: 10px;
    }
}

.description__name {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.small-title {
    font-size: 14px;
    padding-right: 5px;
}

.size__num {
    font-weight: 700;
}
</style>
