<template>
    <div class="article">
        <img class="article__image" :src="image">

        <article-description
            :article="article"
        />

        <article-details
            :article="article"
        />
    </div>
</template>

<script>
import { getImgUrl } from '@/js/helpers.js'
import ArticleDescription from './ArticleDescription.vue'
import ArticleDetails from './ArticleDetails.vue'

export default {
    name: 'ShoppingCartArticle',

    components: {
        articleDescription: ArticleDescription,
        articleDetails: ArticleDetails
    },

    props: {
        article: {
            type: Object,
            required: true
        }
    },

    data() {
      return {
        image: ''
      }
    },

    created() {
        let img = ''

        if (this.article.images) {
            img = this.article.images[Object.keys(this.article.images)[0]]
        } else {
            img = 'noImageAvailable'
        }

        this.image = getImgUrl(this.article, img)
    }
}
</script>

<style scoped lang="scss">
.article {
    width: fit-content;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #91A3B0;
    margin: 20px 0;
}

.article__image {
    width: 120px;
    margin-right: 20px;
}
</style>
