<template>
    <div class="summary">
        <h1 class="summary__title left">SUMMARY</h1>

        <div class="summary__content content">
            <span class="content__text left">Total</span>
            
            <span class="content__amount right">{{ totalWithTax }}€</span>
        </div>

        <div class="summary__content bottom-border content">
            <span class="content__text left">Delivery price</span>
            
            <span class="content__amount right">{{ delivery }}€</span>
        </div>

        <div class="summary__content bottom-border content">
            <span class="content__text left">Tax</span>
            
            <span class="content__amount right">{{ tax }}€</span>
        </div>

        <div class="summary__content content">
            <span class="content__text left">Total with tax</span>
            
            <span class="content__amount right">{{ totalWithTax }}€</span>
        </div>

        <div class="summary__content bottom-border content">
            <span class="content__text left">Total without tax</span>
            
            <span class="content__amount right">{{ total }}€</span>
        </div>

        <b-button class="summary__button" @click="buy">GO TO PAYMENT</b-button>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'SummaryCard',

    computed: {
        ...mapState({
            shoppingCart: state => state.shoppingCart
        }),

        total() {
            let total = 0

            this.shoppingCart.forEach(article => {
                total += (article.price * article.quantity)
            })
            return total.toFixed(2)
        },

        delivery() {
            return (this.total === 0 ? 0 : (this.total > 15 ? 0 : 10)).toFixed(2)
        },

        tax() {
            return (this.total === 0 ? 0 : ((Number(this.total) + Number(this.delivery)) * 0.18)).toFixed(2)
        },

        totalWithTax() {
            return (Number(this.total) + Number(this.tax)).toFixed(2)
        }
    },

    methods: {
        buy() {
            this.$store.dispatch('buy', this.shoppingCart)
        }
    }
}
</script>

<style scoped>
.summary {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    margin-left: 30px;
}

.summary__title {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
}

.summary__content {
    width: 100%;
    display: inline-block;
    padding: 0;
}

.content__text {
    font-size: 15px;
}

.content__amount {
    font-size: 18px;
    letter-spacing: 1px;
}

.summary__button {
    font-size: 13px;
    font-weight: 600;
    background-color: red;
    float: right;
    margin: 10px;
}

.bottom-border {
    padding-bottom: 10px;
    border-bottom: 1px solid #91A3B0;
}

.left {
    float: left;
}

.right {
    float: right;
}
</style>
