<template>
    <div class="header">
        <header-nav />

        <header-content />
    </div>
</template>

<script>
import HeaderNav from './HeaderNav.vue'
import HeaderContent from './HeaderContent.vue'

export default {
    name: 'Header',

    components: {
        headerNav: HeaderNav,
        headerContent: HeaderContent
    }
}
</script>

<style scoped>
.header {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}
</style>
