<template>
    <div class="content">
        <router-link to="/" class="content__logo logo">
            <span class="logo__first-word">SPORT</span><span class="logo__second-word">STORE</span>
        </router-link>

        <div class="content__shipment shipment">
            <p class="shipment__big-text">FREE SHIPMENT</p>

            <p class="shipment__small-text">for all orders over 100€</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ContentLeft'
}
</script>

<style scoped lang="scss">
.content {
    width: 50%;
    display: inherit;
}

.content__logo {
    margin-left: 15px;
}

.content__logo:hover {
    text-decoration: none;
}

.logo__first-word {
    font-size: 20px;
    font-weight: 900;
    color: blue;
}

.logo__second-word {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    color: red;
}

.content__shipment {
    margin-top: 2px;
    margin-left: 40px;
    text-align: left;

    .shipment__big-text, .shipment__small-text {
        font-size: 12px;
        letter-spacing: 2px;
        margin: 0;
    }
}

.shipment__big-text {
    font-weight: 800;
}
</style>
