<template>
    <div class="content">
        <content-left />

        <content-right />
    </div>
</template>

<script>
import HeaderContentLeft from './HeaderContentLeft.vue'
import HeaderContentRight from './headerContentRight/HeaderContentRight.vue'

export default {
    name: 'HeaderContent',

    components: {
        contentLeft: HeaderContentLeft,
        contentRight: HeaderContentRight
    }
}
</script>

<style scoped>
.content {
    margin: 10px 0;
    display: flex;
}
</style>
