<template>
    <b-nav class="nav">
        <b-nav-item class="nav__telephone telephone">
            <img class="telephone__img" src="@/assets/telephone.png">

            0800 234 234
        </b-nav-item>

        <b-nav-item class="nav__mobile mobile">
            <img class="mobile__img" src="@/assets/mobile.png">

            060/1234567
        </b-nav-item>

        <b-nav-item class="nav__social social">
            <img class="social__img" src="@/assets/facebook.png">
        </b-nav-item>

        <b-nav-item class="nav__social social">
            <img class="social__img" src="@/assets/instagram.png">
        </b-nav-item>

        <b-nav-item to="/" class="nav__route">Home</b-nav-item>

        <b-nav-item class="nav__route">Stores</b-nav-item>

        <b-nav-item class="nav__route">Delivery</b-nav-item>

        <b-nav-item class="nav__route">Contact</b-nav-item>
    </b-nav>
</template>

<script>
export default {
    name: 'HeaderNav'
}
</script>

<style scoped>
.telephone, .mobile {
    font-size: 14px;
    font-weight: 600;
    color: yellow;
}

.telephone__img, .mobile__img, .social__img {
    height: 20px;
}
</style>
