<template>
    <div>
        <side-menu-element
            v-show="!filters.category"
            element="category"
            :items="filteredItems.categories"
            :key="route + 'category'"
        />

        <side-menu-size
            v-show="type === 'shoes'"
            :availableSize="filteredItems.size"
        />

        <side-menu-element
            element="brand"
            :items="filteredItems.brand"
            :key="route + 'brand'"
        />
    </div>
</template>

<script>
import { mapState } from 'vuex'
import SideMenuElement from './SideMenuElement.vue'
import SideMenuSize from './SideMenuSize.vue'

export default {
    name: 'SideMenu',

    components: {
        sideMenuElement: SideMenuElement,
        sideMenuSize: SideMenuSize
    },
    
    props: {
        type: {
            type: String,
            required: true
        },

        category: {
            type: String
        },

        route: {
            type: String,
            required: true
        }
    },
    
    computed: {
        ...mapState({
            filteredItems: state => state.filteredItems,
            filters: state => state.filters
        })
    }
}
</script>
