<template>
    <div class="element">
        <h3 class="element__title">{{element}}</h3>
        
        <div class="element__filters">
            <b-form-checkbox
                v-for="item in items"
                v-model="selected"
                :value="item"
                @change="reload(item)"
                :key="item"
            >
                {{item}}
            </b-form-checkbox>
        </div>
    </div>
</template>

<script>
    import { objForFiltering } from '@/js/helpers.js'

    export default {
        name: 'SideMenuCategories',

        props: {
            element: {
                type: String,
                required: true
            },

            items: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                selected: []
            }
        },

        methods: {
            reload(item) {
                if(this.element === 'category') {
                    this.$router.push({name:'articlesList', params: {category: item}})
                } else if (this.element === 'brand') {
                    return new Promise ((resolve, reject) => {
                        setTimeout(() => {
                            this.$store.dispatch(
                                'filterItems',
                                objForFiltering(undefined, undefined, this.selected, undefined)
                            )
                            resolve()
                        }, 0)
                    })
                }
            }
        }
    }
</script>

<style scoped>
.element {
    width: 206px;
    max-height: 130px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.element__title {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.element__filters {
    max-height: 95px;
    overflow-y: scroll;
    text-align: left;
    color: rgba(0, 0, 0, .5);
}

.custom-control {
    padding-left: 27px;
}
</style>
