 <template>
    <div class="size">
        <h3 class="size__title">SIZE</h3>
        
        <b-button
            class="size__button"
            :class="{ 'size__button--selected': selected === size }"
            v-for="size in availableSize"
            :key="size"
            @click="reload(size)"
        >
            {{size}}
        </b-button>
    </div>
</template>

<script>
import { objForFiltering } from '@/js/helpers.js'

export default {
    name: 'SideMenuSize',

    props: {
        availableSize: {
            type: Array,
            required: true
        }
    },

    data() {
        return {
            selected: ''
        }
    },

    methods: {
        reload(size) {
            if (this.selected === size) {
                this.selected = ''
            } else {
                this.selected = size
            }

            this.$store.dispatch(
                'filterItems',
                objForFiltering(undefined, undefined, undefined, this.selected)
            )
        }
    }
}
</script>

<style scoped lang="scss">
.size {
    width: 206px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    text-align: left;

    .size__button--selected {
        background-color: rgb(225, 217, 217);
    }

    .size__button:hover {
        background-color: rgb(244, 240, 240);
    }
}

.size__title {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.size__button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .6);
    margin: 5px;
}

.size__button:nth-child(4n-2) {
    margin-left: 0;
}

.size__button:nth-child(4n+5) {
    margin-right: 0;
}
</style>
