<template>
    <div class="content">
        <search-form />

        <shopping-cart />
    </div>
</template>

<script>
import SearchForm from './SearchForm.vue'
import ShoppingCart from './ShoppingCart.vue'

export default {
    name: 'ContentRight',

    components: {
        searchForm: SearchForm,
        shoppingCart: ShoppingCart
    }
}
</script>

<style scoped>
.content {
    width: 50%;
    display: inherit;
}
</style>
