<template>
    <form class="search">
        <input class="search__input" placeholder="Search..." v-model="searched">

        <button class="search__button button" @click.prevent="clicked()">
            <img class="button__img" src="@/assets/search_button.jpg" alt="search">
        </button>
    </form>
</template>

<script>
export default {
    name: 'SearchForm',

    data() {
        return {
            searched: ''
        }
    },

    methods: {
        clicked() {
            alert(this.searched)
            this.searched = ''
        }
    }
}
</script>

<style scoped>
.search {
    position: relative;
    margin: auto 30px;
}

.search__input {
    width: 450px;
    height: 37px;
    padding-left: 8px;
    font-size: 14px;
}

.search__button {
    width: 37px;
    height: 37px;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    background-color: red;
}

.button__img {
    height: 30px;
}
</style>
