<template>
    <router-link :to="{ name: 'shoppingCart' }" class="shopping-cart">
        <div v-show="showCounter" class="shopping-cart__counter counter">
            <span class="counter__background"></span>

            <span class="counter__num">{{ numOfArticles }}</span>
        </div>

        <img class="shopping-cart__img" src="@/assets/shopping_cart.png">
    </router-link>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'ShoppingCart',

    computed: {
        ...mapState({
            shoppingCart: state => state.shoppingCart
        }),

        numOfArticles() {
            return this.shoppingCart.length
        },

        showCounter() {
            return this.numOfArticles > 0
        }
    }
}
</script>

<style scoped lang="scss">
.shopping-cart__counter {
    position: relative;

    .counter__background, .counter__num {
        position: absolute;
        top: -8px;
        height: 16px;
        background-color: red;
    }
}

.counter__background {
    right: -8px;
    width: 18px;
    transform: skew(-20deg);
}

.counter__num {
    width: 15px;
    right: -6px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.shopping-cart__img {
    width: 48px;
}
</style>
