<template>
    <div class="article-description">
        <h1 class="article-description__title">{{article.name}}</h1>

        <div class="article-description__id">Id: {{article.id}}</div> 

        <div class="article-description__price price">
            <h2 class="price__title">Price:</h2>

            <p class="price__value">{{article.price}}€</p>
        </div>

        <div class="article-description__size size">
            <h2 class="size__title">Available size:</h2>

            <b-button
                class="size__button"
                v-for="(quantity, size) in article.size"
                :key="size"
                @click="select(size)"
            >
                {{ size }}
            </b-button>
        </div>

        <input class="article-description__input" type="Number" v-model="quantity">

        <button @click="editShoppingCart" :disabled="lowQuantity">Add to shopping cart</button>
    </div>
</template>

<script>
import { editShoppingCart } from '@/js/editShoppingCart'
import Order from '@/js/Order'

export default {
    name: 'ArticleDescription',

    props: {
        article: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            quantity: 1,
            selected: Number
        }
    },

    computed: {
        lowQuantity() {
            return this.quantity <= 0
        }
    },

    methods: {
        select(size) {
            this.selected = size
        },

        editShoppingCart() {
            const order = new Order(this.article, this.selected, this.quantity)
            
            if (!this.selected) {
                alert('Please select size!')
            } else {
                editShoppingCart(order)

                this.quantity = 1

                this.selected = ''
            }
        }
    }
}
</script>

<style scoped lang="scss">
.article-description {
    width: 245px;
    text-align: left;
    margin-left: 50px;
}

.article-description__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.article-description__id {
    font-size: 14px;
    font-weight: 800;
}

.article-description__price {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.price__title {
    font-size: 17px;
    font-style: italic;
    margin: 0;
}

.price__value {
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
}

.article-description__size {
    margin-bottom: 20px;
}

.size__title {
    font-size: 14px;
    font-weight: 700;
}

.size__button {
    font-weight: 600;
    color: black;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

.size__button:nth-child(5n+2) {
    margin-left: 0;
}

.article-description__input {
    width: 40px;
    text-align: center;
    margin-right: 10px;
}
</style>
