<template>
    <div class="article-images">
        <div v-if="imagesToDisplay()" class="article-images__sm-box sm-box">
            <b-button 
                class="sm-box__button button"
                v-for="img in Object.values(article.images)"
                :key="img"
                @click="selectImg(img)"
            >
                <img class="button__sm-img" :src="getImage(article, img)">
            </b-button>
        </div>

        <img class="article-images__big-img" :src="getImage(article, selected)">
    </div>
</template>

<script>
import { getImgUrl } from '@/js/helpers.js'

export default {
    name: 'ArticleImages',

    props: {
        article: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            selected: ''
        }
    },

    methods: {
        imagesToDisplay() {
            return this.article.images && Object.keys(this.article.images).length > 1
        },

        selectImg(img) {
            this.selected = img
        },

        getImage(article, image) {
            return getImgUrl(article, image)
        },
    },

    created() {
        let img = 'noImageAvailable'

        if (this.article.images) {
            img = this.article.images[Object.keys(this.article.images)[0]]
        }
        
        this.selectImg(img)
    }
}
</script>

<style scoped>
.article-images__sm-box {
    display: flex;
    flex-direction: column;
    float: left;
    width: fit-content;
}

.sm-box__button {
    border: 0;
    padding: 0;
    margin-bottom: 3px;
    display: block;
}

.button__sm-img {
    width: 90px;
}

.article-images__big-img {
    width: 560px;
    margin-left: 10px;
}
</style>
