<template>
    <div id="app">
        <app-header />

        <horisontal-menu />

        <router-view />
    </div>
</template>

<script>
import AppHeader from '@/components/header/AppHeader.vue'
import HorisontalMenu from '@/components/horisontalMenu/HorisontalMenu.vue'

export default {
    components: {
        appHeader: AppHeader,
        horisontalMenu: HorisontalMenu
    }  
}
</script>

<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
</style>
